<launch>
	
	<param name="robot_description" textfile="$(find kheperas_description)/urdf/kheperas_base.urdf"	/>
	
	<!-- setup GUI parameters	-->
	<param name="use_gui" 	value="true"	/>
	
	<!-- run joint_state_publisher, publish joint state	-->
	<node name="joint_state_publisher_gui" 	pkg="joint_state_publisher_gui" 	type="joint_state_publisher_gui"	/>
	
	<!-- run robot_state_publisher, publish tf 	-->
	<node name="robot_state_publisher" 	pkg="robot_state_publisher" 	type="robot_state_publisher"	/>
	
	<!-- run rviz	-->
	<node name="rviz" 	pkg="rviz" 	type="rviz" 	args="-d $(find kheperas_description)/config/display_kheperas.rviz" 	required="true"	/>

</launch>



