<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find kheperas_description)/config/world/myWorld.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>


    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description" textfile="$(find kheperas_description)/urdf/urdf/kheperas.urdf" /> 
    

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
        <param name="frequency" value="30"/>
        <rosparam param="odom0_config">[true, true, false,
                                        false, false, true,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]
                                        </rosparam>
        <rosparam param="imu0_config">[false, false, false,
                                        false, false, true,
                                        false, false, false,
                                        false, false, true,
                                        true, false, false]</rosparam>
        <param name="two_d_mode" value="true"/>
        <param name="odom0_differential" value="true"/>
        <param name="imu0_differential" value="true"/>
   </node>


    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-x 2.0 -y 2.0 -Y 0.0 -unpause -urdf -model mrobot -param robot_description"/> 

    

    <group ns='reference'>
     <!-- 在gazebo中加载机器人模型-->
    <param name="reference_robot_description" textfile="$(find kheperas_description)/urdf/urdf/kheperas_base_gazebo.urdf" /> 
    <node name="urdf_spawner_2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model referenceRobot -param reference_robot_description"/> 
    
    </group>
    <!--
    <node pkg='tf' type='static_fransform_publisher' name='odom_to_base_footprint' args='0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_footprint 1000' />
    -->
    <!-- run rviz	-->
	<node name="rviz" 	pkg="rviz" 	type="rviz" 	args="-d $(find kheperas_description)/config/laser_kheperas_gazebo.rviz" 	required="true"	/>

</launch>